
<style>
    ul li {
        width:300px;
        border: 1px solid gray;
        list-style-type: none;
        padding:10px;
    
    }
    
    </style>
    
    DONE TASKS
    
    
    <ul>
        <li *ngFor="let task of _doneTasksArray" 
        (click)="onSelect(task)">

        {{task.name}}<br>
        {{task.deadline | date:"yyyy-MM-LL HH:mm"}}
        <div *ngIf="selectedTask===task">
            <br>Description: <br>
            {{selectedTask.description}}<br>
        </div>
        </li>
    </ul>