
<style>
ul li {
    width:300px;
    border: 1px solid gray;
    list-style-type: none;
    padding:10px;

}
li.gery {
    background-color:#424242;
    color: white;
}
li.red {
    background-color:#E12B38;
    color: white;
}

</style>

TODAY TASKS

<ul>
    <li *ngFor="let task of _overdueTasksArray" 
    (click)="onSelect(task)" class="gery">
    {{task.name}} 
    <br>
    {{task.deadline | date:"medium"}}
    <div *ngIf="selectedTask===task">
        <br>Description: <br>
        {{selectedTask.description}}<br><br>
        <input type="button" (click)="completeTask()" value="DONE">
        <input type="button" (click)="deleteTask()" value="DELETE" style="float:right">
    </div>
    </li>
</ul>
<ul>
    <li *ngFor="let task of _todayTasksArray" 
    (click)="onSelect(task)" class="{{task.color}}"> 
    {{task.name}}
    <br>
    {{task.deadline | date:"medium"}}

    <div *ngIf="selectedTask===task">
        <br>Description: <br>
        {{selectedTask.description}}<br><br>
        <input type="button" (click)="completeTask()" value="DONE">
        <input type="button" (click)="markTask()" value="HIGHLIGHT" style="margin-left:40px">
        <input type="button" (click)="deleteTask()" value="DELETE" style="float:right">
    </div>
    </li>
</ul>

WEEK TASKS
<ul>
    <li *ngFor="let task of _weekTasksArray" 
    (click)="onSelect(task)" class="{{task.color}}">
    {{task.name}}
    <br>
    {{task.deadline | date:"medium"}}
    <div *ngIf="selectedTask===task">
        <br>Description: <br>
        {{selectedTask.description}}<br><br>
        <input type="button" (click)="completeTask()" value="DONE">
        <input type="button" (click)="markTask()" value="HIGHLIGHT" style="margin-left:40px">
        <input type="button" (click)="deleteTask()" value="DELETE" style="float:right">
    </div>
    </li>
</ul>

FURTHER TASKS
<ul>
    <li *ngFor="let task of _otherTasksArray" 
    (click)="onSelect(task)" class="{{task.color}}">
    {{task.name}}
    <br>
    {{task.deadline | date:"medium"}}
    <div *ngIf="selectedTask===task">
        <br>Description: <br>
        {{selectedTask.description}}<br><br>
        <input type="button" (click)="completeTask()" value="DONE">
        <input type="button" (click)="markTask()" value="HIGHLIGHT" style="margin-left:40px">
        <input type="button" (click)="deleteTask()" value="DELETE" style="float:right">
    </div>
    </li>
</ul>